.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2px;
  border-bottom: 0.1px solid gray;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eef3f8;
  height: 40px;
}

.header_search > input {
  border: none;
  background: none;
  outline: none;
  color: gray;
  border-radius: 5px;
}

.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_item {
  margin: 10px;
  text-align: center;
  color: gray;
}

.header_item:hover {
  cursor: pointer;
  color: black;
}

.header_item > div {
  font-size: 12px;
}

.header_item > img {
  object-fit: contain;
  height: 40px;
  border-radius: 50%;
}
